body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #d9e352a3;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

.result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.prediction {
  font-size: 24px;
  font-weight: bold;
}

.prediction.malignant {
  color: red;
}

.prediction.benign {
  color: green;
}
